In [1]:
import numpy as np

In [2]:
import pandas as pd

In [22]:
age={'Sam':5,"Randy":6,"Mohan":7}
pd.DataFrame(pd.Series(age), columns=["Age"])

       Age
Sam      5
Randy    6
Mohan    7

In [24]:
q1 = {'Japan': 80, 'China': 450, 'India': 200, 'USA': 250}
q2 = {'Brazil': 100,'China': 500, 'India': 210,'USA': 260}

salesq1= pd.Series(q1)
salesq1

Japan     80
China    450
India    200
USA      250
dtype: int64

In [25]:
salesq1["India"]

200

In [26]:
salesq1[0]

80

In [27]:
# get the keys from the Series.

salesq1.keys()

Index(['Japan', 'China', 'India', 'USA'], dtype='object')