###### String Operations using Panda's
##### Note : Right now its object data type, But in future it may turn upto StringDtype

In [7]:
# Assign a String  hello to variable mystring
mystring="hello"

In [8]:
# Convert the mystring variable to capital letters using capitalize
mystring.capitalize()

'Hello'

In [9]:
# Verify whether the string is text/dight
mystring.isdigit()

False

In [10]:
# import pandas library
import pandas as pd

In [12]:
# Convert the following elements into series 'andrew','bobo','claire','david','4'
names= pd.Series(['andrew','bobo','claire','david','4'])

In [13]:
# Display the converted data.
names

0    andrew
1      bobo
2    claire
3     david
4         4
dtype: object

In [15]:
# Convert all the String's in the Series to Capital String's
names.str.capitalize()

0    Andrew
1      Bobo
2    Claire
3     David
4         4
dtype: object

In [16]:
# Validate whether the string are numerics or not
names.str.isdigit()

0    False
1    False
2    False
3    False
4     True
dtype: bool

## Splitting , Grabbing, and Expanding

In [17]:
# Accept the 'GooGL,APPL,AMZN','JPM,BAC,GS' in the List and convert them to Series.
tech_finance=['GooGL,APPL,AMZN','JPM,BAC,GS']

In [18]:
# Display the length of the array
len(tech_finance)

2

In [19]:
# Convert the array into Series and assign it to tickers
tickers= pd.Series(tech_finance)

In [20]:
# Display the ticker
tickers

0    GooGL,APPL,AMZN
1         JPM,BAC,GS
dtype: object

In [25]:
# Fetch the first row from tickers and split them by ,
x= tickers.str.split(",")[0]
x

['GooGL', 'APPL', 'AMZN']

In [35]:
type(x)

list

In [36]:
# fetching the column values seperately
x[0]

'JPM'

In [29]:
# Split the second row by comma
y= tickers.str.split(",").str[1]
y

0    APPL
1     BAC
dtype: object

In [30]:
y.dtype

dtype('O')

In [38]:
# Create a variable meessy_names and provide following elements as the list
# Input::'andrew',"bo;bo","  clarie "

In [39]:
messy_names=pd.Series(['andrew',"bo;bo","  clarie "])

In [40]:
messy_names

0       andrew
1        bo;bo
2      clarie
dtype: object

In [47]:
messy_names.str.replace(';','').str.strip().str.capitalize()

0    Andrew
1      Bobo
2    Clarie
dtype: object

In [62]:
# Write custom function to clean the data and apply it to the messayname
def clean_messyName(name):
    name
    clean_name = name.strip()
    clean_name=  clean_name.replace(';','')
    clean_name = clean_name.capitalize()
    return clean_name

In [63]:
result= messy_names.apply(clean_messyName)
result

0    Andrew
1      Bobo
2    Clarie
dtype: object

In [65]:
# There are way to improve effeciency (Remember vectorize , when cleaning the data as they convert to numpy arrays which gives more performance)
import timeit 
  
# code snippet to be executed only once 
setup = '''
import pandas as pd
import numpy as np
messy_names = pd.Series(["andrew  ","bo;bo","  claire  "])
def cleanup(name):
    name = name.replace(";","")
    name = name.strip()
    name = name.capitalize()
    return name
'''
  
# code snippet whose execution time is to be measured 
stmt_pandas_str = ''' 
messy_names.str.replace(";","").str.strip().str.capitalize()
'''

stmt_pandas_apply = '''
messy_names.apply(cleanup)
'''

stmt_pandas_vectorize='''
np.vectorize(cleanup)(messy_names)
'''

In [70]:
# In the setup block initalization of the data is taken place.
timeit.timeit(setup = setup, 
                    stmt = stmt_pandas_str, 
                    number = 10000)

7.284209733999887

In [67]:
timeit.timeit(setup = setup, 
                    stmt = stmt_pandas_apply, 
                    number = 10000)

2.111603031999948

In [68]:
timeit.timeit(setup=setup, stmt= stmt_pandas_vectorize,
             number=10000)

0.6660427439996965